/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require my_styles
 *= require_tree .
 */

input {
    width: 414px;
}

.container {
  text-align:center;
}

.field {
  margin-top: 5px;
  padding: 5px;
  font-size: 38px;
}

body {
  background-color: #fad36b !important;
}

a {
  color: #81c2d5 !important;
}

a:hover {
  text-decoration:none !important;
}

input[type="submit"], #back {
  text-transform: uppercase;
  border: 2px solid #81c2d5;
  color: #81c2d5;
  background: rgba(255,255,255,0);
  padding: 20px;
  display: inline-block;
  margin-top: 20px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 700;
  width: 414px;
}

input[type="submit"]:hover, #back:hover {
  background: #ffffff;
  color: #81c2d5;
}
#application_interpreter, #application_car, #application_insurance, #application_shoreline_family, #application_renton_family, #application_mens_recovery, #application_alcohol_problem, #application_drug_problem, #application_currently_in_twelve_step, #application_have_been_in_counseling, #application_attempted_suicide, #application_pending_charges_or_warrants, #application_probation_or_parole, #application_diploma, #application_GED, #application_current_significant_other, #application_military_service {
  position:absolute;
  float:left;
}

.navbar-default {
  background-color: none !important;
  border-color: none !important;
}
